// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Personnalisés :
$burnasse: #1DCC00;
$cerveau: #767676;
$coeur: #FF0000;
$foie: #FFB800;
$poumon: #04C3FF;
$rein: #FF61E6;
