<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(banner-image.png);">
  <div class="container">
    <h1>Envie de retrouver <strong>une santé de fer </strong> ? </h1>
    <p>Avec Orgarent, gagner des jours de vie en louant des organes !</p>
  </div>
</div>
