<%# From UI kit le Wagon %>

<div class="banner-perso">
  <div class="container">
    <h1>Envie de retrouver <strong>une santé de fer </strong> ? </h1>
    <p>Avec Orgarent, gagner des jours de vie en louant des organes !</p>
  </div>
</div>
