// BOOKING CARD //
.booking-resa {
  width: 100%;
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: auto;
  gap: 1em;
  padding-left: 5%;
  & > a:hover {
    text-decoration: none;
  }
}
.booking-resa :hover {
  opacity: 0.9;
}
.booking-card {
  // display: flex;
  // flex-direction: column;
  background: white;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100px;
  height: fit-content;
  border-radius: 5px;
}
.booking-img {
  background: white;
  height: 80px;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.card-text {
  color: black;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
}

// CATEGORY CARD - Linked to : _container > .category-container//
.card-category{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  img {
    display: block;
  }
  .text-if-hover {
    display: none;
    font-weight: lighter;
  }
}

.card-category:hover {
  transition: all 2s ease-out;
  .text-if-hover {
    display: block;
  }
  img {
    display: none;
  }
}

// ORGAN CARD - Linked to : _container > .organ-container//
.card-organ {
  overflow: hidden;
  height: 80px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  img {
  height: auto;
  width: 50%;
  object-fit: cover;
  }
  h2 {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  }
  p {
  font-size: 8px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  }
  .card-organ-infos {
    padding: 16px;
    display: block;
  }
  .text-if-hover {
    display: none;
    font-weight: lighter;
    font: black;
  }
}

.card-organ:hover {
  transition: all 2s ease-out;
  .card-organ-infos {
    display: none;
  }
  .card-organ-infos-user {
    display: block;
  }
  .text-if-hover {
    display: block;
  }
}

a:hover {
  text-decoration: none;
}
