
.organ-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: auto;
  margin-top: 30px;
}


.category-container {
    background: #C7E6F4;
    width: 1110px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: auto;
    border-color: black;
    border-radius: 20px;
    margin-top: 30px;
}


.organ-container-user {
  margin-left: 1.5%;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  grid-auto-rows: auto;
}
