.category-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: auto;
}

.organ-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: auto;
}
