// From UI Kit Le Wagon
footer {
  height: 100px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F4F4F4;
  color: rgba(0,0,0,0.3);
}
