// From UI Kit Le Wagon
// HTML à utiliser dispo ici : https://uikit.lewagon.com/documentation#navbar
// TO DO : insérer le _search-form

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
